body {
    background-color: #000000;
    color: #ffffff;
    background-image: url('/background.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}